body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #5f9341;
}
button {
  margin: 2px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #5f9341;
  border: none;
  color: white;
}
ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}
li {
  margin-top: 5px;
}
li a {
  color: #5f9341;
}
